<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ISO-ReactJS</title>
  </head>
  <body>
    {{{body}}}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
